@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: silver;
}
.main{
	background: url(robot.png)center/cover no-repeat;
	height: 100vh;
}
.main-content{
	padding-top: 19%;
	margin-left: 5%; 
}

.main-content h1{
	margin-top: 2vh;
	font-size: 2rem;
	font-weight: 400;
}
.main-content h1 span{
	background: rgba(0,0,0,0.7);
	padding: 1rem;
}
.main-content p{
	font-size: 0.9rem;
	line-height: 3.9vh;
	margin: 2% 0% 0% 2%;
}
.main-content p span{
	font-size: 1.3rem;
	font-weight: 600;
}

.txt-type > .txt {
	border-right: 0.2rem solid #fff; 
}
.txt-type .txt{
	animation: blinking-cursor 1s steps(29,end) infinite;
}



@keyframes blinking-cursor{
	0%{
		border-right-color: rgba(255,255,255,1);
	}
	50%{
		border-right-color: transparent;
	}
}



